<!-- templates/layout.html -->
<!doctype html>
<html>
  <head>
    <title>Job Board</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}"></link>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}"></link>
    <link href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"></link>
  </head>
  <body>
    <div class="container top">
      <div class="content">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
